.alert
  margin-top: 20px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
.alert-danger
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
.danger
  color: #d9534f
