// common form style

form
  margin-bottom: 40px

  .section 
    border-top: 1px solid #bdbdbd
    margin: 20px 100px
    &:first-child
      border-top: none

  input, textarea
    &~.hint
      position: relative
      &:after
        position: absolute
    &.touched.invalid
      border: 1px solid #fb2f53
      &~.hint:after
        color: #fb2f53
        content: "×"
    &.touched.valid
      border: 1px solid #2ec522
      &~.hint:after
        color: #2ec522
        content: "√"

  .field
    line-height: 50px
    .field-name
      display: inline-block
      width: 64px
      text-align: right
      margin-right: 15px

  input[type="text"], input[type="number"], input[type="password"], .radio-group
    display: inline-block
    height: 20px
    width: 220px
    padding: 5px 8px
    margin: 5px
    line-height: normal

  input.small
    width: 120px

  input[type="text"], input[type="number"], input[type="password"]
    border: 1px solid #aaa
    border-radius: 8px
    &:focus
      border: 1px solid #52abf3
      outline: 0
    &[readonly]
      border: none
      vertical-align: middle

  textarea
    resize: none
    width: 75%
    font-size: 14px
    border-radius: 10px
    &:focus
      border: 1px solid #52abf3
      outline: 0

  .radio-group
    .radio-options
      display: inline-block
      margin:  0 32px
    input[type="radio"]
      width: 15px
      height: 15px
      padding: 0
      vertical-align: middle
      margin: -2px 0 1px 0
      &:focus
        outline: 0

  .submit-btn
    width: 200px
    height: 45px
    border-radius: 10px
    border: 1px solid #52abf3
    background-color: #52abf3
    color: #fff
    font-size: 14px
    &[disabled], &[disabled]:hover
      border: 1px solid #e2e2e2
      background-color: #a2a2a2
      cursor: not-allowed
    &:hover
      background-color: #31b0d5
      border-color: #269abc
    &:active
      outline: 0
      box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
      background-color: #31b0d5
      border-color: #269abc