.tab-view
  .tab-list
    text-align: left
    border-bottom: 1px solid #ddd
    list-style: none
    .tab-name
      display: inline-block
      margin-bottom: -1px
      text-align: center
      width: 120px
      height: 30px
      color: #428bca
      margin-right: 2px
      line-height: 30px
      border: 1px solid transparent
      border-radius: 4px 4px 0 0
    .tab-name:active
      background-color: transparent
    .tab-name[active]
      vertical-align: middle
      color: #555
      cursor: default
      background-color: #fff
      border: 1px solid #ddd
      border-bottom-color: transparent