table.horz-stripe
  border-collapse: collapse
  border: 1px solid #ddd
  line-height: 1.8
  th, td
    border: 1px solid #ddd
    text-align: center
  th
    padding:  0 2ch
  th, tr:nth-child(even)
    background-color: #eee
  
table.horz-strip.hover-effect
  tr:hover
    background-color: #ddd 